/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #3a1c71,#fff);
    color: #333;
}

h1, h3 {
    color: #fff;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #d76d77;
    color: #fff;
    transform: scale(1.1);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: #ffaf7b;
    color: #fff;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    min-width: 160px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ffaf7b;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Content Styles */
.content {
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.content h1 {
    margin-bottom: 1rem;
    color: #3a1c71;
}

/* Flash Message Styles */
h3 {
    font-size: 1.2rem;
    background: #d76d77;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
