<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <!--navbar-->
    <header> 
        <div class="navbar">
            <a href="#"><img src="./myntralogo.png" width="50px" height="60px"></a>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">home & living</a>
            <a href="#">beauty</a>
            <a href="#">studio <sup>new</sup></a>
            <div>
                <input type="text" placeholder="Search for products, brands and more">
            </div>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </header>
    
    <section class="sec1">
        <!--section1-->
        <div class="one">
            <a href="#"><img src="./1.png" width="700px" height="90px"></a>
            <a href="#"><img src="./2.png" height="90px" width="520px"></a>
        </div>
        <div class="two">
            <a href="#"><img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/12/6/5de27ff7-9f3a-48d1-9dac-882ed0a83b801733424846403-Sale_1920x504-HP-----5.jpg"" ></a>
            <a href="#"><img src="./4.png" ></a>
            <a href="#"><img src="./5.png"></a>
        </div>
        <div class="three">
            <div class="card">
                <img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/NOVEMBER/28/Yw2xGqDJ_f6d5689aee3242f5a7fb258de22891c6.png">
                <img src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/NOVEMBER/28/0lcoGvET_b3adc506f1274b5a9c33bd7e70d764e9.png">
                <img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/NOVEMBER/28/0vnC1W2g_833f191b453442bea38da9358d125dd4.png">
                <img src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/NOVEMBER/28/vveT3zzE_a9a36e04e5cb40c1ab4afcb488a8270e.png">
                <img src='https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/12/3/3a44e18f-a002-40c7-b17d-8a37e141c60d1733204819665-image_png2125813109.png'>
                <img src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/NOVEMBER/28/f8JKoJda_2eb6c7ed33d342f5901339710b585ccf.png">
            </div>
        </div>
        <div class="four">
            <div>
                <center><h1><span>FIRST TIME</span> ON DISCOUNT</h1></center>
            </div>
            <div class="card">
                <a href="#"><img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/11/30/91099c62-46d2-40eb-b555-6c4385a111f21732958097647-image_png_939283020.png"></a>
                <a href="#"><img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/12/3/6430c9d1-5f31-4935-a4f4-e3176f7c5b901733215793135-image_png_776530001.png"></a>
                <a href="#"><img src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/11/30/1d4dc3dd-9a29-44db-9294-0b68e406c9441732957940929-image_png781733455.png"></a>
                <a href="#"><img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/11/30/fb9c55a9-ea29-445a-8334-b596061076be1732958056626-image_png_278369319.png"></a>
                <a href="#"><img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/11/30/3d0ccce9-7b12-4ae3-a9ca-0ba946fd336f1732958084916-image_png_942822789.png"></a>
                <a href="#"><img src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2024/11/30/4ac17db5-cdde-4164-a5d0-30994c2731421732958014877-image_png_339140005.png"></a>
            </div>
        </div>
        <div class="five">
            <div>
                <center><h1>SHOP BY CATEGORY</h1></center>
            </div>
            <div class="card">  
                
                <img src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/p9iVLopu_bf2d80c4972144df837d006314db0a58.jpg">
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/56G90xOM_0259569412dc450ebf25ff7cbf24e5f1.jpg"/>
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/Qq65zjWg_4115f1cd2b2142819da8fd8b06a96991.jpg" />
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/osTGPUnc_146cf0dc50b54812a5522577727ffe0d.jpg"/>
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/9yYOgoac_ca2eecdbfacf48fb99e23f85f92f4ade.jpg" />
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/xt3Pbjno_b5dc284221244c99a749cbecd50677db.jpg" />
                <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2024/DECEMBER/4/LNegM5Qw_54583ba340804cdd9851fd752a42ed86.jpg" />
            </div>
        </div>

        <div class="six">
            <div class="1">
                <h5>ONLINE SHOPPING</h5>
                <p>Men</p>
                <p>Women</p>
                <p>Kids</p>
                <p>Beauty</p>
                <p>Gift Cards</p>
            </div>
            <div class="2">
                <h5>CUSTOMER POLICIES</h5>
                <p>Contact Us</p>
                <p>FAQ</p>
                <p>T&C</p>
                <p>Terms of Use</p>
                <p>Terms of Orders</p>
                <p>Shipping</p>
                <p>Cancellation</p>
            </div>
            <div class="3">
                <h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>
                <div>
                    <button>Google Play</button>
                    <button>App Store</button>
                </div>
            </div>
        </div>
    </section>
            